.pixelPerfect {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

.pixelFont {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}
